@charset "UTF-8";

* {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.forumBtn {
	border: none;
}

.custom-rounded {
    border-radius: 0 0 0.375rem 0;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50% !important;
}

.cropper-view-box {
    outline: none !important;
    border: none !important;
}

.crop-container {
    width: 100%;
    height: 60vh;         
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cropperImg {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;   
}

.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: center;
}