@charset "UTF-8";

body {
	overflow-x: hidden;
}

* {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.forumBtn {
  border: none;
}

.custom-rounded {
  border-radius: 0 0 0.375rem 0;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50% !important;
}

.cropper-view-box {
  outline: none !important;
  border: none !important;
}

.crop-container {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cropperImg {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.foto-perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
}

.content-section {
  flex-grow: 1;
  padding: 1.25rem;
}

.sidebar-trigger-area {
  width: 4.375rem;
  background-color: #f8f9fa;
  border-left: 0.0625rem solid #dee2e6;
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  transition: background 0.3s;
  cursor: pointer;
}

.sidebar-trigger-area:hover {
  background-color: #e9ecef;
}

.header-container {
  position: relative;
}

html {
    overflow-y: scroll;
    scrollbar-gutter: stable;
}

body {
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-right: 0 !important;
}

body::-webkit-scrollbar {
    display: none;
}

.forum-card {
    width: 100%;
    max-width: 700px;  
    transition: 0.2s ease-in-out;
}

.forum-card:hover {
    transform: scale(1.01);
}


.botaoSubmit {
    overflow: hidden; 
}

#offcanvasRight {
    --bs-offcanvas-width: 50%;
}

.list-group-item {
    border: none;
    transition: all 0.2s ease;
}

.list-group-item:hover {
    background-color: #f1f3f5;
    transform: translateX(5px);
}